# SPDX-FileCopyrightText: 2020 Umbrel
# SPDX-FileCopyrightText: 2021-2022 Citadel and contributors
# SPDX-FileCopyrightText: 2023 Nirvati and contributors
# 
# SPDX-License-Identifier: GPL-3.0-or-later

# Files and data directories created by services
# that we shouldn't accidently commit

*.dat
*.log
*.lock
*.cookie
*.pid
*.env
.backup
*.pyc
postgres/*
db/user.json
statuses/*
app-data
apps
caddy/*

# Commit these empty directories
!**/.gitkeep
!statuses/update-status.json
!apps/.gitkeep
!db/.gitkeep
!db/citadel-seed
db/nirvati-seed/*
!db/nirvati-seed/.gitkeep
!logs/.gitkeep
!postgres/.gitkeep
!db/.gitkeep
!caddy/data/.gitkeep

!**/*.License

karen.socket
